@tailwind base;
@tailwind components;
@tailwind utilities;

/* Improve font rendering */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}
